<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="AsciiPinyin.Web.Server.*" minlevel="Info" writeTo="logconsole" final="true" />
        <logger name="Microsoft.*" minlevel="Info" writeTo="logconsole" final="true" />
        <logger name="*" minlevel="Warn" writeTo="logconsole" />
        <!--
            More general loggers can have only higher levels than specific levels.
            Otherwise, the lower level of the general logger always overrides the higher level of the specific logger.
        -->
    </rules>

</nlog>
