@using AsciiPinyin.Web.Client.Constants
@using AsciiPinyin.Web.Shared.Components

@inherits ChacharsTabBase

<div id="@IDs.CHACHARS_TAB_ROOT" style="display: none">
    <div id="@IDs.CHACHARS_TAB_LOADING">
        <Loading />
    </div>

    @if (Chachars is null)
    {
        JSInteropConsole.ConsoleWarning("ChacharsTab: No chachars retrieved from the server.");
    }
    else if (Chachars.Length < 1)
    {
        JSInteropConsole.ConsoleWarning("ChacharsTab: Chachars retrieved from the server are empty.");
    }
    else
    {
        <ChacharCards Chachars="@Chachars" SelectChachar="@SelectChachar" />
    }

    <ChacharViewDialog @ref="ChacharViewDialog" />
</div>
