@using AsciiPinyin.Web.Shared.Models
@using Microsoft.AspNetCore.Components.Web

@inherits ChacharCardsBase

<div class="row">
    <NewEntityCard ShowEntityForm="ShowChacharForm" />

    @foreach (var chachar in Chachars)
    {
        <EntityCard
            TEntity="Chachar"
            Body="@chachar.TheCharacter"
            Footer="@($"{chachar.Pinyin}{chachar.Tone}")"
            SelectEntity="@SelectChachar"
            SelectEntityArgument="@chachar" />
    }
</div>
