@using Microsoft.AspNetCore.Components.Web

@inherits ChacharCardsBase

<div class="row">
    <NewEntityCard ShowEntityForm="ShowChacharForm" />

    @foreach (var chachar in Chachars)
    {
        <div class="col-sm-2 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title fw-bold">@chachar.TheCharacter</h2>
                </div>
                <div class="card-footer bg-transparent fw-bold">
                    @($"{chachar.Pinyin}{chachar.Tone}")
                </div>
                <div class="stretched-link" @onclick="_ => SelectChachar(chachar)"></div>
            </div>
        </div>
    }
</div>
