@using AsciiPinyin.Web.Client.Components
@using AsciiPinyin.Web.Client.Pages.IndexComponents.AlternativesTabComponents
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Models
@using AsciiPinyin.Web.Shared.Resources

@inherits AlternativesTabBase

<div class="tab-root" id="@IDs.NAVBAR_ALTERNATIVES_TAB_ROOT">
    @if (IsVisible)
    {
        @if (!Index.Alternatives.Any())
        {
            Logger.LogWarning("AlternativesTab: No alternatives retrieved from the server.");
        }
        else
        {
            <div class="container-cards container-cards-tab">
                <NewEntityCard
                    Label="@($"{Localizer[Resource.NewFemale]}...")"
                    ShowEntityFormAsync="ShowAlternativeFormAsync" />
                <EntityCards
                    T="Alternative"
                    Entities="Index.Alternatives"
                    SelectEntityAsync="ShowAlternativeViewDialogAsync" />
            </div>
        }
    }
</div>
<AlternativeForm @ref="AlternativeForm" Index="Index" />
<AlternativeViewDialog @ref="AlternativeViewDialog" Index="Index" />
