@using Microsoft.AspNetCore.Components.Web

@inherits NewEntityCardBase

<div class="col-sm-2 mb-3">
    <div class="card text-center h-100">
        <div class="card-header h-10"></div>
        <div class="card-body">
            <h1 class="fw-bold m-0">&#x271A;</h1>
        </div>
        <div class="card-footer h-10"></div>
        <div class="stretched-link" @onclick="_ => ShowEntityForm()"></div>
    </div>
</div>
