@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Příliš žluťoučký kůň úpěl ďábelské ódy!</h1>
    <p>@DateTime.Now</p>
</div>

<!--Using CSS from Bootstrap-->
<div class="card-columns" style="column-count: 3;">
    @foreach (var chachar in Model.Chachars)
    {
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title">@chachar.TheCharacter</h2>
                <p class="card-text">@chachar.Piniyin - @chachar.Ipa</p>
            </div>
        </div>
    }
</div>
