@page
@using AsciiPinyin.Web.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Příliš žluťoučký kůň úpěl ďábelské ódy!</h1>
    <p>@DateTime.Now</p>
</div>

<!-- Including Razor component -->
@(await Html.RenderComponentAsync<ChacharList>(RenderMode.ServerPrerendered))

<!--
    The JavaScript code handling page changes loading from the server (SignalR). Must be placed after components inclusion.
    If IDE is complaining that it can't be found, just ignore the warning.
-->
@* ReSharper disable twice Html.PathError *@
<script src="_framework/blazor.server.js"></script>
