@using Microsoft.AspNetCore.Components.Web

@inherits AlternativeCardsBase

<div class="row">
    @foreach (var alternative in Alternatives)
    {
        <div class="col-sm-2 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title fw-bold">@alternative.TheCharacter</h2>
                </div>
                <div class="card-footer bg-transparent fw-bold">
                    @alternative.OriginalCharacter
                </div>
                <div class="stretched-link" @onclick="_ => SelectAlternative(alternative)"></div>
            </div>
        </div>
    }
</div>
