@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants

@inherits AlternativesTabBase

<div id="@IDs.ALTERNATIVES_TAB_ROOT" style="display: none">
    <div id="@IDs.ALTERNATIVES_TAB_LOADING">
        <Loading />
    </div>

    @if (Alternatives is null)
    {
        JSInteropConsole.ConsoleWarning("AlternativesTab: No alternatives retrieved from the server.");
    }
    else if (Alternatives.Length < 1)
    {
        JSInteropConsole.ConsoleWarning("AlternativesTab: Alternatives retrieved from the server are empty.");
    }
    else
    {
        <AlternativeCards Alternatives="@Alternatives" SelectAlternative="@SelectAlternative" />
    }

    <AlternativeViewDialog @ref="AlternativeViewDialog" />
</div>
