@using AsciiPinyin.Web.Client
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@inherits AppBase

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/@(ApiNames.BASE)/" />
        <link rel="shortcut icon" href="#" /> <!-- Icon in the page tab. When no icon, without this a favicon.ico missing 404 error is logged. -->
        <link rel="stylesheet" href="/@(ApiNames.BASE)/css/app.css" />
        <link rel="stylesheet" href="/@(ApiNames.BASE)/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="/@(ApiNames.BASE)/AsciiPinyin.Web.Server.styles.css" />
        <title>@StringConstants.ASCII_PINYIN</title>
        <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    </head>
    <body>
        @* Must be at the very beginning of the body. Otherwise, Index is appended before it. *@
        <div class="mt-3 text-center">
            <h1 class="display-1 fw-bolder">@(StringConstants.ASCII)&nbsp;@(StringConstants.PINYIN_CHINESE)</h1>
        </div>

        <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
        <script src="/@(ApiNames.BASE)/js/JSInteropConsole.js"></script>
        <script src="/@(ApiNames.BASE)/js/JSInteropDOM.js"></script>
        <script src="/@(ApiNames.BASE)/js/lib/jquery-3.6.0.min.js"></script>
        <script src="/@(ApiNames.BASE)/_framework/blazor.web.js"></script>

        <div id="@IDs.LOADING_SPLASH">
            <div class="container">
                <NavBar />
                <div>
                    <Loading />
                </div>
            </div>
        </div>
        @* Index is appended here. *@

        <footer class="border-top footer text-muted">
            <div class="container">&copy;&nbsp;2024&nbsp;&ndash;&nbsp;@(StringConstants.ASCII)&nbsp;@(StringConstants.PINYIN)</div>
        </footer>
    </body>
</html>
