@using AsciiPinyin.Web.Shared.Models
@using Microsoft.AspNetCore.Components.Web

@typeparam TEntity where TEntity : IEntity
@inherits EntityCardBase<TEntity>

<div class="col-sm-2 mb-3">
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title fw-bold">@Body</h2>
        </div>
        <div class="card-footer bg-transparent fw-bold">@Footer</div>
        <div class="stretched-link" @onclick="_ => SelectEntity(SelectEntityArgument)"></div>
    </div>
</div>
