@using AsciiPinyin.Web.Client.Pages.IndexComponents.AlternativesTabComponents.AlternativesCardsComponents
@using AsciiPinyin.Web.Shared.Models
@using Microsoft.AspNetCore.Components.Web

@inherits AlternativesCardsBase

<div class="row">
    <NewEntityCard ShowEntityForm="ShowAlternativeForm"/>

    @foreach (var alternative in Alternatives)
    {
        <EntityCard
            TEntity="Alternative"
            Body="@alternative.TheCharacter"
            Footer="@alternative.OriginalCharacter.ToString()"
            SelectEntity="@SelectAlternative"
            SelectEntityArgument="@alternative" />
    }
</div>
<AlternativeViewDialog @ref="AlternativeViewDialog" />
