:root {
    --card-entity-height: 120px;
    --card-entity-width: 120px;
    --index-max-width: 1320px;
    z-index: 0;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

/* Remove the default green border on valid Blazor inputs */
input:focus:not(.invalid), input.valid {
    outline: none !important;
}

.btn {
    font-weight: bold !important;
}

.btn-danger:hover {
    background-color: var(--bs-red) !important;
}

.btn-input-text {
    text-align: left;
}

.btn-outline-primary {
    color: var(--bs-blue) !important;
    background-color: var(--bs-white) !important;
}

.btn-primary {
    color: white !important;
}

.btn-primary:hover {
    background-color: var(--bs-blue) !important;
}

.btn-modal {
    margin-left: 1rem !important;
    min-width: 8rem;
}

.card-entity {
    cursor: pointer;
    height: var(--card-entity-height);
    width: var(--card-entity-width);
    padding: 0px !important;
}

.container-cards {
    display: grid;
    grid-gap: 26px;
}

.container-cards-entity-selector {
    grid-template-columns: repeat(auto-fit, minmax(max-content, var(--card-entity-width)));
    max-width: var(--index-max-width);
    padding: 1rem;
}

.container-cards-tab {
    grid-template-columns: repeat(auto-fill, var(--card-entity-width));
    justify-content: space-between;
}

.form-input {
    min-height: 85px;
}

.invalid {
    outline: 1px solid red;
}

.modal-content {
    min-height: 215px;
}

.modal-entity-selector {
    max-width: fit-content !important;
    min-width: var(--bs-modal-width);
}

.spinner-border {
    border-width: 1rem !important;
    height: 6rem !important;
    width: 6rem !important;
}

.tab-button {
    min-width: 9rem;
}

/* Not having the class 'active' and not being pressed */
.tab-button:not(.active):not(:active) {
    border: transparent !important;
}

.tab-root {
    display: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.validation-message {
    visibility: hidden;
}

.validation-message:not(:empty) {
    visibility: visible; /* Show text when there’s an error */
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#form-submit-modal-content {
    height: 200px
}

#index {
    max-width: var(--index-max-width);
}

#loading-spinner {
    width: 6rem;
    height: 6rem;
    border: 0.5rem solid currentColor;
}
