@using AsciiPinyin.Web.Client.Pages.IndexComponents
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@page "/"
@inherits IndexBase

<IndexBackdrop />

<div
    class="container"
    id="@IDs.INDEX_ROOT">
    <main class="pb-3">
        <NavBar
            AlternativesTab="AlternativesTab"
            ChacharsTab="ChacharsTab"
            SelectTabAsync="SelectTabAsync" />

        @* No matter in passing entities separately as cascading parameters. *@
        @* You need to pass Index down anyway, so it's OK to keep entities embedded in Index. *@
        <AlternativesTab @ref="AlternativesTab" Index="@this" />
        <ChacharsTab @ref="ChacharsTab" Index="@this" />
    </main>
</div>

<ProcessDialog @ref="ProcessDialog" />
