@page "/"
@inherits IndexBase
@using AsciiPinyin.Web.Client.Components

<header>
    <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
        <div class="text-center">
            <h1 class="display-1 fw-bolder">ASCII&nbsp;拼音</h1>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <input type="button" class="nav-link text-dark @GetActiveIfActive("ChacharList")" @onclick='_ => SelectTab("ChacharList")' value="Characters" />
                </li>
                <li class="nav-item">
                    <input type="button" class="nav-link text-dark @GetActiveIfActive("AlternativeList")" @onclick='_ => SelectTab("AlternativeList")' value="Alternatives" />
                </li>
            </ul>
        </div>
    </nav>
</header>

@if (SelectedTabName == ComponentNames.AlternativeList)
{
    <AlternativeList />
    // <AlternativeList Alternatives="@Alternatives" />
}
else
{
    <ChacharList Chachars="@Chachars" />
}
