@using AsciiPinyin.Web.Client.Pages.IndexComponents
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@page "/"
@inherits IndexBase

<IndexBackdrop />

<div
    class="container"
    id="@IDs.INDEX_ROOT">
    <main class="pb-3">
        <NavBar
            AlternativesTab="AlternativesTab"
            ChacharsTab="ChacharsTab"
            SelectTabAsync="SelectTabAsync" />

        <div id="@IDs.INDEX_ENTITIES_TABS_LOADING">
            <Loading
                Id="@IDs.INDEX_LOADING"
                TextResource="@Resource.Loading" />
        </div>

        <AlternativesTab @ref="AlternativesTab" Index="this" />
        <ChacharsTab @ref="ChacharsTab" Index="this" />
    </main>
</div>

@* <SaveSuccess @ref="SaveSuccess" />
<SaveFailed @ref="SaveFailed" /> *@
<FormSubmit @ref="FormSubmit" />
