@inherits AlternativeListBase
@using AsciiPinyin.Web.Client.Shared.Constants

<PageTitle>@StringConstants.AsciiPinyin - @GetLocalizedString("Alternatives")</PageTitle>

<h1>AlternativeList - tbd...</h1>
