@inherits ChacharListBase

<PageTitle>ASCII Pinyin - Characters</PageTitle>

@*Chachars are loaded asynchronously. If they're null, it's impossible to tell if it's because of error or they haven't been loaded yet.*@
@if (Chachars != null)
{
    @if (Chachars.Length < 1)
    {
        Console.WriteLine("ChacharList: WARNING! Chachars retrieved from the server are empty.");
    }
    else
    {
        <div class="card-columns" style="column-count: 3;">
            @foreach (var chachar in Chachars)
            {
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title fw-bold">@chachar.TheCharacter</h2>
                    </div>
                    <div class="card-footer bg-transparent fw-bold text-uppercase">
                        @chachar.Pinyin
                    </div>

                    <!-- Makes the whole card act like a button. -->
                    <!-- The href="#" is necessary to change the mouse pointer to hand icon on hover. -->
                <a href="#" class="stretched-link" @onclick="_ => SelectChachar(chachar)"></a>
                </div>
            }
        </div>
    }
}

<ChacharViewDialog @ref="chacharViewDialog" />
