@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Models
@using Microsoft.AspNetCore.Components.Web

@typeparam T where T : IEntity
@inherits EntityCardsBase<T>

@foreach (var entity in Entities)
{
    <div class="card card-entity text-center">
        <div class="card-body">
            <h2 class="card-title fw-bold">@(entity.TheCharacter ?? string.Empty)</h2>
        </div>
        <div class="card-footer bg-transparent fw-bold">
            @if (entity is Chachar chachar)
            {
                @(chachar.RealPinyin ?? string.Empty)
            }
            else if (entity is Alternative alternative)
            {
                @(alternative.OriginalCharacter ?? string.Empty)
            }
        </div>
        <div
            class="stretched-link @SelectorClass"
            @onclick="async _ => await SelectEntityAsync(entity, CancellationToken.None)">
        </div>
    </div>
}
