@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@inherits NewEntityCardBase

<div class="card card-entity text-center text-white bg-primary h-100">
    <div class="card-body">
        <h2 class="card-title fw-bold m-0">&#x271A;</h2>
    </div>
    <div class="card-footer bg-transparent fw-bold">@Label</div>
    <div
        class="stretched-link"
        @onclick="async _ => await ShowEntityFormAsync(CancellationToken.None)">
    </div>
</div>
