@using AsciiPinyin.Web.Shared.Constants
@using Microsoft.AspNetCore.Components.Web

@inherits SaveFailedBase

<div
    class="modal fade @CssClasses.D_NONE"
    tabindex="-1"
    role="dialog"
    id="@RootId">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="card-text">
                    Failed
                </p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-modal btn-primary"
                    aria-label="OK">
                    <span>Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
