@using AsciiPinyin.Web.Shared.Constants

<footer class="border-top footer text-muted">
    <div class="container">&copy;&nbsp;2024&nbsp;&ndash;&nbsp;@(StringConstants.ASCII)&nbsp;@(StringConstants.PINYIN)</div>
</footer>
