@using AsciiPinyin.Web.Shared.Resources

@inherits LoadingBase

<div class="mt-3 text-center">
    <h3>
        @(Localizer[Resource.Loading])&hellip;
    </h3>
    <div class="spinner-border"></div>
    <div>&nbsp;</div>
</div>
