@using AsciiPinyin.Web.Client.Constants
@inherits LayoutComponentBase

<div class="container">
    <main class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">&copy;&nbsp;2024&nbsp;&ndash;&nbsp;@(StringConstants.ASCII)&nbsp;@(StringConstants.PINYIN)</div>
</footer>
