@inherits LayoutComponentBase

<div class="container">
    <main class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">&copy;&nbsp;2022&nbsp;&ndash;&nbsp;ASCII&nbsp;Pinyin</div>
</footer>
